*__pycache__
*.csv
*.pth
*.pt
*.npz
*.png
*.jpg
*.jpeg
*.gif
*.log
*.txt

*.flag
*10-batches-py
*.pt
*.pyc
*.zip
*.tar

O2_unet/
data_cifar10N/
data_cifar100N/
exper_paper/
backup/
O2U_Net_Source/
data_imagenet100_cmc/
imagenet100_cmc/
data/
output/
outputs/
report/
reports/
results
cifar10_iter_ema_noise_validation/
store_output_cifar10_iter_ema_noise_validation_v2/
store_output_cifar10_iter_ema_noise_validation/
backup_code/
backup_code

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data / Checkpoints
data/
outputs/
checkpoints/
wandb/

# OS
.DS_Store
Thumbs.db